<mat-toolbar color="primary" class="app-header">
    <div><a href="/agent" class="navlogo">Rent-A-Car Agent</a></div>
    <span class="nav-tool-items">
        <a mat-button mat-raised-button routerLink="/agent/izvestaj" routerLinkActive="active">Unesi Izvestaj</a>
        <a mat-button mat-raised-button routerLink="/agent/zahtev" routerLinkActive="active">Zahtevi</a>
        <a mat-button mat-raised-button routerLink="/vozilo/novoVozilo" routerLinkActive="active" >Novo vozilo</a>
        <a mat-button mat-raised-button routerLink="/agent/oglas" routerLinkActive="active" >Novi oglas</a>
        <a mat-button mat-raised-button routerLink="/agent/vozila" routerLinkActive="active">Moja Vozila</a>
        <a mat-button mat-raised-button routerLink="/agent/statistika" routerLinkActive="active">statistika</a>
        <a mat-button mat-raised-button routerLink="" routerLinkActive="active" (click)="onOdjaviMe()">Odjavi Me</a>
    </span>
</mat-toolbar>

<mat-card>
    <mat-card-header>
        <h1 style="margin-top: 100px;">Statistika</h1>
    </mat-card-header>
    <hr>
    <mat-card-content style=" margin-left: 10vh;">
        <h3 style="margin-top: 50px;">Najvise predjenih kilometara</h3>
        <h5 style="color:gray">{{najvecaKm.markaVozila}} {{najvecaKm.modelVozila}} {{najvecaKm.klasaVozila}}</h5>
        <h5 style="color:gray">Presao(km): {{najvecaKm.predjeniKm}}km</h5>
        <h3 style="margin-top: 50px;">Najveca ocena</h3>
        <h5 style="color:gray">{{najvecaOcena.markaVozila}} {{najvecaOcena.modelVozila}} {{najvecaOcena.klasaVozila}}
        </h5>
        <h5 style="color:gray">Ocena: {{ocena}}/5</h5>
        <div style="width: 200px;">
            <star-rating staticColor="ok" [showHalfStars]="true" [rating]="ocena">
            </star-rating>
        </div>
        <h3 style="margin-top: 50px;">Najvise komentara</h3>
        <h5 style="color:gray">{{najviseKomentara.markaVozila}} {{najviseKomentara.modelVozila}}
            {{najviseKomentara.klasaVozila}}</h5>
        <h5 style="color:gray">Broj komentara: {{komentariList.length}}</h5>
        <mat-chip-list aria-label="Fish selection">
            <mat-chip color="primary" *ngFor="let k of komentariList" selected>{{k.sadrzaj}}</mat-chip>
        </mat-chip-list>
    </mat-card-content>
</mat-card>