<mat-toolbar color="primary" class="app-header">
    <div><a href="/" class="navlogo">Rent-A-Car</a></div>
 
  </mat-toolbar>

  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card >
      <mat-card-header>
        <mat-card-title>Novi Model Vozila</mat-card-title>
      </mat-card-header>
  
      <form class="form" (submit)="onSubmit()">
  
        <mat-card-content>
            <mat-form-field class="full-width">
              <input matInput placeholder="Naziv modela vozila" [(ngModel)]="modelVozila.naziv" [ngModelOptions]="{standalone: true}" required>
            </mat-form-field>
  
          
          </mat-card-content>
     
        <select id="markaVozila" [(ngModel)]="modelVozila.id_marke" [ngModelOptions]="{standalone: true}" class="form-control">
            <option value=""></option>
            <option *ngFor="let m of marke$ | async" >
                {{ m.naziv }}
            </option>
        </select>   

        <button mat-stroked-button class="buttonPotvrdi" type="submit">Potvrdi</button>
  
      </form>
    </mat-card>
  </div>
