<mat-toolbar color="primary" class="app-header">
    <div><a href="/" class="navlogo">Rent-A-Car</a></div>
    <span class="nav-tool-items">
        <a mat-button mat-raised-button routerLink="/administrator" routerLinkActive="active">Vrati se korak nazad</a>
      </span>
  </mat-toolbar>
  <br><br>
  <div class="card my-5">
    <div class="card-body">
      <div class="labelNaslov">
      <label>Lista odbijenih komentara korisnika korisnika</label>
    </div>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Id korisnika  </th>
            <th scope="col">Id oglasa</th>
            <th scope="col">Sadrzaj komentara</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let komentar of komentarlist$ | async" >
            <td>{{ komentar.id }}</td>
            <td>{{ komentar.korisnik_id }}  <button class="btn btn-danger"  (click)="korisnikInfoDijalog(); pribaviKorisnika(komentar.korisnik_id)">Korisnik info</button></td>
            <td>{{ komentar.oglas_id }}</td>
            <td>{{ komentar.sadrzaj }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>