.box{
  width:100%
}

.ex3{
  width:100%;;
  height:100% ;
}



.example-icon {
    padding: 0 14px;
  }    
  .example-spacer {
    flex: 1 1 auto;
  }    
  .example-card {
    background-color: lightyellow;
    
    width: 80%;
    margin: 40px;
   
  }    

.card{
  width: 80%;
}

  .example-header-image {
    background-image: image("./assets/logo.png");
    background-size: cover;
  }    
  .main-div {
    height: 50vh;
    width: 50vh;
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .btn-block{
    background-color:lightgreen;
  }



  .boja{
    background-color: rgb(243, 243, 161);
  }

  .bojaButton{
    background-color: rgb(182, 182, 14);
  }

 

 