
<mat-toolbar color="primary" class="app-header">
    <div><a href="/" class="navlogo">Rent-A-Car</a></div>
 
  </mat-toolbar>

  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card >
      <mat-card-header>
        <mat-card-title>Nova Vrsta Menjaca
        </mat-card-title>
      </mat-card-header>
  
      <form class="form" (submit)="onSubmit()">
  
        <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput placeholder="Naziv vrste menjaca" [(ngModel)]="vrstaMenjaca.naziv" [ngModelOptions]="{standalone: true}" required>
          </mat-form-field>

        
        </mat-card-content>
        
        <button mat-stroked-button class="btn btn-success m-1" (click)="alertService.success('Uspesno ste kreirali vrstu menjaca!!', options)" class="buttonPotvrdi" type="submit">Potvrdi</button>
  
      </form>
    </mat-card>
  </div>