<mat-toolbar color="primary" class="app-header">
    <div><a href="/" class="navlogo">Rent-A-Car</a></div>
    <span class="nav-tool-items">
    </span>
  </mat-toolbar>
  <br><br>
  <div class="card my-5">
    <div class="card-body">
      <div class="labelNaslov">
      <label>Lista pristiglih komentara korisnika</label>
    </div>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Id korisnika  </th>
            <th scope="col">Id oglasa</th>
            <th scope="col">Sadrzaj komentara</th>
            <th scope="col">Odobravanje komentara</th>
            <th scope="col">Odbijanje komentara</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let komentar of komentarlist$ | async" >
            <td>{{ komentar.id }}</td>
            <td>{{ komentar.korisnik_id }}  <button class="btn btn-danger"  (click)="korisnikInfoDijalog(); pribaviKorisnika(komentar.korisnik_id)">Korisnik info</button></td>
            <td>{{ komentar.oglas_id }}</td>
            <td>{{ komentar.sadrzaj }}</td>
            <td><button class="btn bojaZelena" (click)="odobravanjeKomentara(komentar.id)">Odobravanje</button></td>
            <td><button class="btn btn-danger" (click)="odbijanje(komentar.id)">Odbijanje</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>