.buttonVozilo {
    background-color: rgb(0, 162, 255); /* Green */
    border: none;
    color: white;
    padding: 13px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }