<mat-toolbar color="primary" class="app-header">
    <div><a href="/agent" class="navlogo">Rent-A-Car Agent</a></div>
    <span class="nav-tool-items">
      <a mat-button mat-raised-button routerLink="/agent/izvestaj" routerLinkActive="active" >Unesi Izvestaj</a>
      <a mat-button mat-raised-button routerLink="/agent/zahtev" routerLinkActive="active" >Zahtevi</a>
      <a mat-button mat-raised-button routerLink="/agent/vozila" routerLinkActive="active">Moja Vozila</a>
      <a mat-button mat-raised-button routerLink="/agent/statistika" routerLinkActive="active">statistika</a>
      <a mat-button mat-raised-button routerLink="" routerLinkActive="active" (click)="onOdjaviMe()">Odjavi Me</a>
    </span>
</mat-toolbar>  

<mat-card style="margin-top: 80px;margin-left: 25%;margin-right: 35%;">
    <mat-card-header >
        <mat-card-title> <h3 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Prihvaceni Zahtevi za unosenje Izvestaja</h3> </mat-card-title>
    </mat-card-header>

    <mat-card-content style="width: 100%;">
        <mat-card *ngFor="let data of zahtevi" style="width: 100%;height: 100%;margin-top: 10%;background-color: lavender;">
            <mat-card-header>
                <mat-card-title style="border-style: outset;background-color: rgb(189, 226, 247);">
                    <p> <span style="padding-right: 5px;">Korisnik:</span> <i>{{data.user.username}}</i> <span style="padding-left: 10px;">Email:</span> <i>{{data.user.email}}</i> </p>
                    <p> <span style="padding-right: 5px;">Ime:</span> <i>{{data.user.ime}}</i> <span style="padding-left: 10px;">Prezime:</span> <i>{{data.user.prezime}}</i> </p>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content >
                <div *ngFor="let data of data.bundleZahtevi" style="height: 100%;;border-style: outset;position: relative; background-color:rgb(198, 192, 233);">
                    <div style="left: 5px;">
                        <p> <span style="padding-right: 10px;">Sifra vozila:</span> {{data.oglas.vozilo.id}} </p>
                        <p> <span style="padding-right: 10px;">Marka vozila:</span> {{data.oglas.vozilo.markaVozila}} </p>
                        <p> <span style="padding-right: 10px;">Model vozila:</span> {{data.oglas.vozilo.modelVozila}} </p>
                        <p> <span style="padding-right: 10px;">Preuzimanje:</span> {{data.preuzimanje}} </p>
                        <p> <span style="padding-left: 20px; padding-right: 10px;">Povratak:</span> {{data.povratak}} </p>
                    </div>
                    
                    <div *ngIf="!data.izvestaj" style="position: absolute;top: 70%;left: 70%;">
                        <button mat-raised-button color="primary" style="border-radius: 10px;" (click)="onUnesiIzvestaj(data)">Unesi Izvestaj</button>
                    </div>

                    <!-- <div *ngIf="zahtev.izvestaj" style="position: absolute;top: 70%;left: 70%;">
                        <button mat-raised-button color="primary" style="border-radius: 10px;">Unesi Izvestaj</button>
                    </div> -->
                    
                </div>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>
