<mat-toolbar color="primary" class="app-header">
    <div><a href="/" class="navlogo">Rent-A-Car</a></div>
    <span class="nav-tool-items">
    </span>
  </mat-toolbar>

  <br><br>
  
  <div class="card my-5">
    <div class="card-body">
      <div class="labelNaslov">
      <label>Lista marki vozila</label>
    </div>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Naziv marke vozila</th>
            <th scope="col">Brisanje marke vozila</th>
            <th scope="col">Izmena marke vozila</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let marka of markelist$ | async" >
            <td >{{ marka.id }}</td>
            <td >{{ marka.naziv }}</td>
            <td><button class="btn btn-danger" (click)="deleteMarka(marka)">Obrisi marku vozila</button></td>
            <td><button class="btn boja" (click)="izmena(marka)">Izmeni marke vozila</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>