<mat-toolbar color="primary" class="app-header">
    <div><a href="/" class="navlogo">Rent-A-Car Korisnik</a></div>
    <span class="nav-tool-items">
      <a mat-button mat-raised-button routerLink="" routerLinkActive="active" (click)="onVozilo()">Novo vozilo</a>
      <a mat-button mat-raised-button routerLink="" routerLinkActive="active" (click)="onMojaVozila()">Moja vozila</a>
      <a mat-button mat-raised-button routerLink="" routerLinkActive="active" (click)="onShoppingCart()">Moja Korpa</a>
      <a mat-button mat-raised-button routerLink="" routerLinkActive="active" (click)="onOdjaviMe()">Odjavi Me</a>
   </span>
  </mat-toolbar>  

  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card >
      <mat-card-header>
        <mat-card-title>Unesi informacije o vozilu</mat-card-title>
      </mat-card-header>
  
      <form class="form" (submit)="onSubmit()">
  
        <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput placeholder="Marka vozila" [(ngModel)]="vozilo.markaVozila" [ngModelOptions]="{standalone: true}" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Model vozila" [(ngModel)]="vozilo.modelVozila" [ngModelOptions]="{standalone: true}" required>
          </mat-form-field>

        
          <mat-form-field class="full-width">
            <input matInput placeholder="Klasa vozila" [(ngModel)]="vozilo.klasaVozila" [ngModelOptions]="{standalone: true}" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Vrsta menjaca" [(ngModel)]="vozilo.vrstaMenjaca" [ngModelOptions]="{standalone: true}" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Tip goriva" [(ngModel)]="vozilo.tipGoriva" [ngModelOptions]="{standalone: true}" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Predjni kilometri" maxlength="30" [(ngModel)]="vozilo.predjeniKm" [ngModelOptions]="{standalone: true}" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Broj sedista za decu" maxlength="20" [(ngModel)]="vozilo.brsedistadeca" [ngModelOptions]="{standalone: true}" required>
          </mat-form-field>
  
          <!--upload slike odavde-->

          <div class="container row">
            <div class="col-md-6">
                <input type="file" (change)="onSelect($event)"  [(ngModel)]="image" [ngModelOptions]="{standalone: true}" required multiple/>
                <img *ngFor= 'let url of urls' [src]="url" height="100"/>
            </div>
        </div>
        <hr />
     
          <!--dovde upload-->


        </mat-card-content>
        <br>
      
        <button mat-stroked-button color="primary" class="btn-block" type="submit">Potvrdi</button>
  
      </form>
    </mat-card>
  </div>
