<mat-toolbar color="primary" class="app-header">
    <div><a href="/" class="navlogo">Rent-A-Car</a></div>
    <span class="nav-tool-items">
      <a mat-button mat-raised-button routerLink="/login" routerLinkActive="active">Uloguj se</a>
    </span>
  </mat-toolbar>


<div class="main-div">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Registruj se</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" (submit)="onSubmit()">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input  matInput placeholder="Ime"  maxlength="30" [(ngModel)]="user.ime" type="text" [ngModelOptions]="{standalone: true}" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input  matInput placeholder="Prezime"  maxlength="30" [(ngModel)]="user.prezime" type="text" [ngModelOptions]="{standalone: true}" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input  matInput placeholder="Adresa"  maxlength="60" [(ngModel)]="user.adresa" type="text" [ngModelOptions]="{standalone: true}" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input  matInput placeholder="Mesto"  maxlength="50" [(ngModel)]="user.mesto" type="text" [ngModelOptions]="{standalone: true}" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input  matInput placeholder="Telefon"  maxlength="15" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" [(ngModel)]="user.telefon" type="number" [ngModelOptions]="{standalone: true}" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input  matInput placeholder="Username"  maxlength="30" [(ngModel)]="user.username" type="text" [ngModelOptions]="{standalone: true}" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input  matInput placeholder="Email"  maxlength="50" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9]+\.com" [(ngModel)]="user.email" type="email" [ngModelOptions]="{standalone: true}" required>
              
              </mat-form-field>
             
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Lozinka"  maxlength="50" type="password" [(ngModel)]="user.password"
              [ngModelOptions]="{standalone: true}" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Potvrda lozinke"  maxlength="50" type="password" [(ngModel)]="user.potvrdalozinke"
              [ngModelOptions]="{standalone: true}" required>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <span *ngIf="dataInvalid" style="font-size: 15px; position: relative; top: -15px; color: red;">Pogresan email ili
          lozinka</span>
        <button mat-stroked-button class="btn-block" type="submit">Potvrdi</button>


      </form>
    
    </mat-card-content>
 
  

  </mat-card>
</div>
