<mat-toolbar color="primary" class="app-header">
    <div><a href="/agent" class="navlogo">Rent-A-Car Agent</a></div>
    <span class="nav-tool-items">
      <a mat-button mat-raised-button routerLink="" routerLinkActive="active" (click)="onUnesiIzvestaj()">Unesi Izvestaj</a>
      <a mat-button mat-raised-button routerLink="" routerLinkActive="active" (click)="onZahtevi()">Zahtevi</a>
      <a mat-button mat-raised-button routerLink="" routerLinkActive="active" (click)="onVozilo()">Novo vozilo</a>
      <a mat-button mat-raised-button routerLink="" routerLinkActive="active" (click)="onOglas()">Novi oglas</a>
      <a mat-button mat-raised-button routerLink="" routerLinkActive="active" (click)="onMojaVozila()">Moja vozila</a>
      <a mat-button mat-raised-button routerLink="/zahteviMess" routerLinkActive="active" (click)="zahteviMess()">Poruke</a>
      <a mat-button mat-raised-button routerLink="" routerLinkActive="active" (click)="onOdjaviMe()">Odjavi Me</a>
    </span>
  </mat-toolbar>  

<div style="padding:20px;margin-top:30px;">
    <router-outlet></router-outlet>
</div>
