<p style="font-size: 18px;">Oglasi:</p>
          <table mat-table [dataSource]="oglasiSource" matSort class="mat-elevation-z8">


            <ng-container matColumnDef="vozilo">
              <th mat-header-cell *matHeaderCellDef> Vozilo </th>
              <td mat-cell *matCellDef="let element">{{element.vozilo.user.username}} </td>
            </ng-container>

            <ng-container matColumnDef="mesto">
              <th mat-header-cell *matHeaderCellDef> Mesto </th>
              <td mat-cell *matCellDef="let element">{{element.mesto}} </td>
            </ng-container>

            <ng-container matColumnDef="zakazi">
              <th mat-header-cell *matHeaderCellDef> Rezervisi </th>
              <td mat-cell *matCellDef="let element"> <button mat-button (click)="onRezervisi(element)">Rezervisi</button> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
